.film-wrap
  position relative

.film
  display flex
  padding 0 25px 20px

.film__favorites-btn-active, .film__favorites-btn
  left 86%
  top -15px
  width 160px
  text-align center
  font-size 12px
  display flex
  align-items flex-end

.film__favorites-title
  margin 0
  width 115px
  margin-left 5px
  &:hover
    cursor pointer

.film__img
  max-height 450px

.film__title
  text-align center
  margin 10px

.film-main
  padding-left 30px

.film__descr
  line-height 22px

.film__duration, .date-relise
  margin 15px 0 10px

.genres
  margin 0
  padding-bottom 10px
  border-bottom 1px solid #01d277

.film__duration
  margin-right 20px

.film__info-wrap
  display flex
  justify-content space-between

.rating
  margin-right 20px
  display flex
  flex-direction column
  align-items center

.raiting-circle
  width 140px
  height 140px
  background #000000
  color #ffffff
  border-radius 50%
  display flex
  flex-direction column
  justify-content flex-end
  align-items center
  margin 0 0 10px

.info-wrap-right
  flex-basis 72%

.genres-and-data
  display flex
  border-bottom 1px solid #01d277
  margin-bottom 5px

.ratin__votes
  font-size 14px
  margin 0

.raiting-circle__number
  font-size 34px
  padding 5px 0 30px

.budget-wrap
  display flex
  border-bottom 1px solid #01d277
  margin-bottom 21px

.budget
  margin-right 20px

.budget, .revenue
  margin-bottom 10px

.company-wrap
  border-bottom 1px solid #01d277

.companies
  margin-bottom 10px

.actors
  display flex
  justify-content space-between
  padding 0 25px 20px
  margin-bottom 30px
  border-bottom 1px solid #01d277

.actor
  text-align center
  flex-basis 20%

.actor__img
  max-width 130px

.actor-name-wrap
  display flex
  flex-direction column
  align-items center
  margin: 5px

.actor__name
  font-weight bold

.film-video
  text-align center
  margin-bottom 20px
  padding-bottom 40px
  border-bottom 1px solid #01d277

.film-video-frame
  border none

.recommendations, .similar
  display flex
  flex-wrap wrap
  justify-content space-between
  padding-bottom 20px
  margin-bottom 20px
  border-bottom 1px solid #01d277

.similar
  margin-bottom 20px

.recommendations-film, .similar-film
  flex-basis 200px
  position relative
  &:hover
    opacity 0.6

.recommendations__vote_average, .similar__vote_average
  font-weight bold
  font-size 14px
  position absolute
  top 10px
  right 10px
  background #fff
  width 27px
  height 27px
  border-radius 50%
  display flex
  justify-content center
  align-items center

.recommendations-title-wrap, .similar-title-wrap
  margin-top 0
  text-align center

.recommendations-title, .similar-title
  flex-basis 100%
  text-align center
  margin-bottom 30px

.recommendations-link, .similar-link
  text-decoration none
  color #081c24