.search-list
  position absolute
  background #ffffff
  z-index 1
  border-bottom: 2px solid #01d277;

.search-film-link
  text-decoration none
  color #081c24
  &:hover
    color #01d277

.search-film
  margin 10px

.search-film-year
  font-size 14px
  color #888888

.header-block-link__ul
  list-style none
  padding 0
  display flex

.header-block-link__a
  text-decoration none
  color #081c24
  padding-bottom 5px
  padding-top 5px
  &:hover
    border-bottom 0
    color #01d277
    border-bottom 1px solid #01d277

.header-block-link__a_active
  color #c5c5c5
  border-bottom 1px solid #c5c5c5
  padding-bottom 5px
  padding-top 5px
  &:hover
    border-bottom 1px solid #c5c5c5
    color #c5c5c5
    cursor default

.header-block-link__li:first-child
  margin-right 30px