.favorite-film-wrap
  position relative
  display flex
  justify-content center
  margin-bottom 50px

.favorite-film
  width 360px

.container-favorite-films
  max-width 800px
  min-height 480px
  margin 0 auto

.raiting-favorite
  top 10px
  left 43%

.no-items
  margin-top 60px
  text-align center