.container-films
  display flex
  justify-content space-between
  flex-wrap wrap
  margin-bottom 150px

.popular-film-wrap
  display flex
  width 550px
  max-width 100%
  margin-bottom 30px
  position relative

.popular-film
  padding 0 20px
  border-right 1px solid #01d277
  border-top 1px solid #01d277
  width 350px
  max-width 100%
  display flex
  flex-direction column
  align-items center
  justify-content space-between

.popular-film__title
  margin 0
  padding-top 20px

.popular-film__descr
  font-size 14px
  line-height 18px

.home-btn
  border-radius 5px
  width 230px
  background-color #081c24
  color #ffffff
  padding 15px 0
  font-family Verdana, sans-serif
  font-size 16px
  text-decoration none
  text-align center
  &:hover
    cursor pointer
    background-color #01d277
    color #081c24

.popular-film__btn
  align-items flex-end

.popular-film__genre
  font-size 14px
  padding-bottom 10px
  color #01d277

.loading-title
  text-align center
  border-bottom 1px solid #01d277
  max-width 250px
  margin 0 auto
  padding-bottom 10px
  margin-bottom 150px
  margin-top 100px

.add-favorites-btn
  position absolute
  top 10px
  left 10px

.popular-film__star-img
  stroke-width 5% 
  stroke  #ffffff
  &:hover
    cursor pointer
    fill #ffeb3b
    stroke  #000000

.popular-film__star-img_active
  fill #ffeb3b
  stroke  #000000
    &:hover
      fill #000000
      stroke  #ffffff

.search-wrap
  position relative

.seacrh-icon
  position absolute
  top 4%
  right 1px
  background #ffffff
  width 50px
  padding 10px 0 0
  border-radius 5px

.raiting-film
  position absolute
  top 8px
  left 150px
  background-color #000000
  color #ffffff
  width 37px
  height 37px
  border-radius 50%
  font-size 13px
  margin 0
  display flex
  justify-content center
  align-items center